:root {
  /* Colors */
  --blue-600: hsl(234, 25%, 52%);
  --blue-900: hsl(233, 54%, 16%);

  --pink-300: hsl(341, 100%, 83%);
  --pink-600: hsl(341, 92%, 62%);

  --grey: hsl(232, 10%, 56%);

  --gradient-pink: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-purple: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));

  /* Typography */
  --fs-1: clamp(2.5rem, 0.4230769230769229rem + 4.102564102564102vw, 3.5rem);
  --fs-2: clamp(2rem, 0.9615384615384615rem + 2.051282051282051vw, 2.5rem);
  --fs-3: clamp(1.5rem, 0.46153846153846145rem + 2.051282051282051vw, 2rem);
  --fs-4: clamp(1.25rem, 0.7307692307692307rem + 1.0256410256410255vw, 1.5rem);
  --fs-5: 1.125rem;
  --fs-6: clamp(0.875rem, 0.6153846153846154rem + 0.5128205128205128vw, 1rem);
  --fs-7: 1.125rem;

  /* Spacing */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-250: 1.25rem; /* 20px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-550: 2.75rem; /* 44px */
  --spacing-600: 3rem; /* 48px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1600: 8rem; /* 128px */
  --spacing-1800: 9rem; /* 144px */
}

/* Local reset */
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 800;
}

body {
  --dynamic-inline-spacing: clamp(
    var(--spacing-250),
    0.821rem + 2.143vw,
    var(--spacing-550)
  );

  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  min-height: 100dvh;
  overflow-x: hidden;
}

main {
  overflow-x: clip;
}

.wrapper {
  padding-inline: var(--spacing-250);
}

.hero {
  display: grid;
  row-gap: var(--spacing-600);
  padding-block: var(--spacing-800);
}

.hero h1 {
  font-size: var(--fs-1);
  color: var(--blue-900);
}

.hero p {
  font-size: var(--fs-5);
  margin-top: var(--spacing-300);
  color: var(--grey);
}

.hero a {
  margin-top: var(--spacing-500);
  display: inline-block;
}

.hero picture {
  max-width: 600px;
  justify-self: center;
}

.courses {
  padding-block: var(--spacing-800) var(--spacing-1000);
  background-image: linear-gradient(hsl(0, 0%, 100%), hsl(236, 100%, 97%));
}

.courses-grid {
  display: grid;
  row-gap: var(--spacing-800);
}

.main-card {
  background-image: var(--gradient-pink);
  color: white;
  padding: var(--spacing-400);
  border-radius: 15px;
  font-size: var(--fs-4);
}

.card {
  padding: var(--spacing-800) var(--spacing-400) var(--spacing-500);
  border-radius: 15px;
  background-color: white;
  position: relative;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-300);
}

.card img {
  position: absolute;
  top: -28px;
}

.card h3 {
  font-size: var(--fs-4);
}

.card p {
  color: var(--grey);
  font-size: var(--fs-5);
}

.card div {
  margin-top: auto;
}

.card a {
  font-size: var(--fs-7);
}

.header,
.footer > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: clamp(
    var(--spacing-200),
    0.643rem + 1.786vw,
    var(--spacing-300)
  );
}

.header .logo,
.footer .logo {
  width: 4.95rem;
  height: 1.25rem;
}

.footer {
  background-color: var(--blue-900);
}

/********************/
/* MEDIA QUERIES    */
/********************/
@media screen and (min-width: 768px) {
  .wrapper {
    padding-inline: var(--spacing-550);
  }

  .hero {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-300);
    position: relative;
  }

  .hero div {
    padding-block: var(--spacing-550);
  }

  .hero picture {
    max-width: 810px;
    position: absolute;
    right: 0;
    transform: translate(42%, -24%);
    pointer-events: none;
  }

  .courses {
    padding-block: var(--spacing-800) var(--spacing-1800);
  }

  .courses-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-300);
  }

  .main-card {
    padding: var(--spacing-800) var(--spacing-400) var(--spacing-500);
  }

  .card p {
    font-weight: 500;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1120px;
    padding-inline: 0;
    margin-inline: auto;
  }

  .hero {
    column-gap: var(--spacing-400);
  }

  .hero picture {
    transform: translate(47%, -27%);
  }

  .header .logo,
  .footer .logo {
    width: auto;
    height: auto;
  }

  .courses-grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--spacing-400);
  }
}

/********************/
/* CTA              */
/********************/
.cta-link {
  color: var(--pink-600);
}

.cta-btn {
  padding: var(--spacing-200) var(--spacing-400);
  border-radius: 28px;
  font-size: var(--fs-7);
  font-weight: 700;
  color: white;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cta-btn {
    padding: var(--spacing-150) var(--spacing-300);
  }
}

.cta-btn--dark {
  background-color: var(--blue-900);
}

.cta-btn--pink {
  background-image: var(--gradient-pink);
}

.cta-btn--purple {
  background-image: var(--gradient-purple);
}

.cta-btn:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
}

.cta-link:hover {
  opacity: 0.5;
}
