:root {
  /* Colors */
  --blue-600: hsl(234, 25%, 52%);
  --blue-900: hsl(233, 54%, 16%);

  --pink-300: hsl(341, 100%, 83%);
  --pink-600: hsl(341, 92%, 62%);

  --grey: hsl(232, 10%, 56%);

  --gradient-pink: linear-gradient(hsl(322, 87%, 55%), hsl(13, 100%, 64%));
  --gradient-purple: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));

  /* Typography */
  --fs-1: clamp(2.5rem, 0.4230769230769229rem + 4.102564102564102vw, 3.5rem);
  --fs-2: clamp(2rem, 0.9615384615384615rem + 2.051282051282051vw, 2.5rem);
  --fs-3: clamp(1.5rem, 0.46153846153846145rem + 2.051282051282051vw, 2rem);
  --fs-4: clamp(1.25rem, 0.7307692307692307rem + 1.0256410256410255vw, 1.5rem);
  --fs-5: 1.125rem;
  --fs-6: clamp(0.875rem, 0.6153846153846154rem + 0.5128205128205128vw, 1rem);
  --fs-7: 1.125rem;

  /* Spacing */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-250: 1.25rem; /* 20px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-550: 2.75rem; /* 44px */
  --spacing-600: 3rem; /* 48px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1600: 8rem; /* 128px */
  --spacing-1800: 9rem; /* 144px */
}

/* Local reset */
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 800;
}

body {
  --dynamic-inline-spacing: clamp(
    var(--spacing-250),
    0.821rem + 2.143vw,
    var(--spacing-550)
  );

  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  min-height: 100dvh;
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--dynamic-inline-spacing), 1fr)
    [main-content-start] minmax(auto, 1120px) [main-content-end]
    minmax(var(--dynamic-inline-spacing), 1fr) [full-width-end];
}

main {
  grid-column: main-content;
}

.hero {
  display: grid;
  row-gap: var(--spacing-600);
  padding-block: var(--spacing-800);
}

.hero h1 {
  font-size: var(--fs-1);
  color: var(--blue-900);
}

.hero p {
  margin-block: var(--spacing-300);
  color: var(--grey);
}

@media screen and (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  .hero div {
    padding-block: var(--spacing-550);
  }

  .hero picture {
    position: absolute;
    right: 0;
    transform: translate(42%, -20%);
  }
}

.header,
.footer {
  grid-column: full-width;
  display: grid;
  grid-template-columns: subgrid;
  padding-block: clamp(
    var(--spacing-200),
    0.643rem + 1.786vw,
    var(--spacing-300)
  );
}

.header div,
.footer div {
  grid-column: main-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo,
.footer .logo {
  width: 4h95rem;
}

.footer {
  background-color: var(--blue-900);
}

/********************/
/* CTA              */
/********************/
.cta-link {
  color: var(--pink-600);
}

.cta-btn {
  padding: var(--spacing-150) var(--spacing-300);
  border-radius: 28px;
  font-size: var(--fs-7);
  font-weight: 700;
  color: white;
  position: relative;
}

.cta-btn--dark {
  background-color: var(--blue-900);
}

.cta-btn--pink {
  background-image: var(--gradient-pink);
}

.cta-btn--purple {
  background-image: var(--gradient-purple);
}

.cta-btn:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
}

.cta-link:hover {
  opacity: 0.5;
}
